{% macro header(email) %}
<header class="header">
    <div class="nav-container">
        <a href="{{ url_for('pages.index') }}" class="header__logo">
            <img src="{{ url_for('static', filename='simple-key.svg') }}" alt="Key image" class="logo__icon">
            <span class="logo__name">PasswordApp</span>
        </a>
        <nav class="nav">
            {% if not email %}
                <a 
                    href="{{ url_for('pages.login') }}" 
                    class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.login') }}"
                >
                    <span class="nav__item">Log in</span>
                </a>
                <a
                    href="{{ url_for('pages.signup') }}" 
                    class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.signup') }}"
                >
                    <span class="nav__item">Register</span>
                </a>
            {% else %}
                <a 
                    href="{{ url_for('pages.account') }}"
                    class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.account') }}"
                >
                    <span class="nav__item">Account</span>
                </a>
                <a
                    href="{{ url_for('pages.logout') }}" 
                    class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.logout') }}"
                >
                    <span class="nav__item">Log out</span>
                </a>
            {% endif %}
        </nav>
    </div>
</header>
{% endmacro %}